@mixin btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid $primary;
    color: #fff;
    transition: all 0.3s linear;
    &-primary{
        background-color: $primary;
        color: #fff;
        &.reverse{
            background-color: #fff;
            border: 1px solid $primary;
            color: $primary;
            &:hover{
                background-color: $primary;
                border: 1px solid $primary;
                color:  #fff;;
                @media screen and (max-width: 768px) {
                    background-color: #fff;
                    border: 1px solid $primary;
                    color: $primary;
                }
            }
        }
        &:hover{
            background-color: #fff;
            border: 1px solid $primary;
            color: $primary;
        }
       
    }
    &-sm{
        padding: 5px 15px;
        font-size: 14px;
    }
    &-rounded{
        border-radius: 20px;
    }
    &-with-icon{
        display: flex;
        align-items: center;
        gap: 10px;
        i{
            font-size: 14px;
        }
    }
    &:active{
        background-color: $primary!important;
        color: white;
    }
    &:focus{
        background-color: $primary;
        color: white;
    }
}


@mixin roomCard{
    .card{
       padding: 5px;
       margin-bottom: 20px;
       border: 1px solid #f1f1f1;
      transition: all 0.3s linear;
      border-radius: 0;
        .card-body{
            padding: 0px 15px 15px;
            a{
                .room-info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    i{
                        color: $primary;
                    }
                }
            }
            .room-info-meta{
                padding: 10px 0px;
                i{
                    color: $primary;
                }
                span{
                    font-size: 12px;
                    font-weight: 500;
                }
                .type-tag {
                    padding: 20px 0px 0px;
                    span{
                        border: 1px solid $primary;
                        padding:5px 15px;
                        background-color: transparent;
                        border-radius: 20px;
                        color: $primary;
                        font-size: 12px;
                        text-transform: capitalize;
                    }
                }
             
            }
        }
        &:hover{
            box-shadow: 2px 2px 10px 2px #f5f5f5;
        }
    }
}

@mixin title{
    .section-title{
        text-align: center;
        padding-bottom: 40px;
        h3{
            font-size: 44px;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 10px;
            font-family: "Josefin Sans", sans-serif;
            display: inline-block;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 20%;
                height: 5px;
                background-color: $primary;
                bottom: -10px;
                right: 0;
            }
        }
    }
}

@mixin form{
    .form-group{
        position: relative;
        margin-bottom: 40px;
        label{
            position:absolute;
            top: 0;
            left: 30px;
            padding: 10px;
            font-size: 12px;
            font-weight: 500;
            transition: all 0.3s linear;
            pointer-events: none;
            font-size: 18px;
        }
        .icon-holder{
            position: absolute;
            top: 15px;
            left: 10px;
            font-size: 14px;
            transition: all 0.3s linear;
            pointer-events: none;
            i{
                font-size: 18px;
                transition: all 0.3s linear;
            }
        }
        .password-toggler{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            font-size: 14px;
            transition: all 0.3s linear;
            cursor: pointer;
            &.shown{
                i{
                    color: $primary;
                }
            }
        }
        input,textarea{
            &.form-control{
                border: 0px;
                border-bottom: 2px solid $primary;
                padding: 10px;
                border-radius: 0;
                padding-inline-start: 40px;
            }
            &:focus{
                box-shadow: none;
            }
            &[type=checkbox]{
                position: relative;
                display: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
                &~label{
                    position: relative;
                    
                    cursor: pointer;
                    font-weight: 500;
                    left: 0;
                    pointer-events: all;
                    padding: 0;
                    padding-left: 30px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 2px;
                        opacity: 1;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 1px solid $primary;
                        transition: all 0.3s linear;
                    }
                  &::after{
                        content: "";
                        position: absolute;
                        top: 2px;
                        opacity: 0;
                        left: 7px;
                        width: 8px;
                        height: 15px;
                        border: 2px solid white;
                        border-top: none;
                        border-left: none;
                        transform: rotate(45deg);
                        transition: all 0.3s linear;
                    }
                }
                &:checked{
                  
                    &~label{
                        color: $primary;
                       &::before{
                           background-color: $primary;
                       }
                       &::after{
                        opacity: 1;
                       }
                    }
                   }
            }
        }
      
        &.filled{
            label{
                top: -30px;
                left: 0;
                font-size: 16px;
              
            }
            .icon-holder{
                i{
                    color: $primary;
                }
            }
        }
        
    }
 
   
}